<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.uuqk.user.mapper.AddressBookMapper">

    <resultMap id="BaseResultMap" type="icu.uuqk.user.entity.AddressBook">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="extension_number" jdbcType="VARCHAR" property="extensionNumber"/>
        <result column="province_id" jdbcType="BIGINT" property="provinceId"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="county_id" jdbcType="BIGINT" property="countyId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="is_default" jdbcType="TINYINT" property="isDefault"/>
        <result column="is_show" jdbcType="TINYINT" property="isShow"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, type, name, phone_number, extension_number, province_id,
        city_id, county_id, address, company_name, is_default, is_show, created,
        updated
    </sql>
</mapper>
